body {
    font-family: Arial, sans-serif;
    background-color: beige;
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    background-color: palevioletred;
    color: beige;
    padding: 20px;
    text-align: center;
}
h1 {
    margin: 0;
}
.content {
    padding: 20px;
}
.members {
    list-style-type: none;
    padding: 0;
}
.members li {
    margin: 10px 0;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #000;
    color: mediumaquamarine;
}
.ganancias {
    background-color: beige;
    padding: 10px;
    border-radius: 5px;
}